.color0{
    background-color: darkblue;
}
.color1{
background-color: firebrick;
}
.color2{
    background-color: yellow;
}
.color3{
    background-color: saddlebrown;
}
.color4{
    background-color: gold;
}
.color5{
    background-color: rebeccapurple;
}

text{
    
}